<section
  class="tab {{tabs.notes.cssClass}} {{tabs.notes.id}} dhca-section dhca-section--body dhca-tab-panel dhca-tab-panel--notes"
  data-tab="{{tabs.notes.id}}"
  data-group="{{tabs.notes.group}}"
>
  <div class="dhca-tab-panel__scroll">
    <fieldset class="dhca-panel dhca-panel--notes">
      <legend class="dhca-panel__title">{{localize tabs.notes.label}}</legend>
      {{formInput notes.field value=notes.value enriched=notes.enriched toggled=true}}
    </fieldset>

    {{#if (and showAttribution document.system.attribution.artist)}}
      <label class="dhca-notes__attribution">{{localize 'DAGGERHEART.GENERAL.artistAttribution' artist=document.system.attribution.artist}}</label>
    {{/if}}
  </div>
</section>
